<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
 
<body>
    <section class="intro" layout:fragment="content">
        <h1 class="text-2xl font-semibold text-center">Welcome to Spring Core MVC</h1>
        <h2 class="text-xl text-center" th:text="${name}"></h2>
    </section>

    <section class="content">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="bg-white p-4 shadow-md rounded-md">
                    <h2 class="text-xl font-semibold">Spring Core MVC</h2>
                    <p class="text-gray-500">Spring Core MVC is a simple web application that demonstrates the Spring Core MVC framework.</p>
                </div>
                <div class="bg-white p-4 shadow-md rounded-md">
                    <h2 class="text-xl font-semibold">Spring Boot</h2>
                    <p class="text-gray-500">Spring Boot is a project built on the top of the Spring framework that provides a simpler and faster way to set up, configure, and run both simple and web-based applications.</p>
                </div>
                <div class="bg-white p-4 shadow-md rounded-md">
                    <h2 class="text-xl font-semibold">Thymeleaf</h2>
                    <p class="text-gray-500">Thymeleaf is a modern server-side Java template engine for web and standalone environments.</p>
                </div>
            </div>
        </div>
</body>
 
</html>